body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.player {
  position: fixed;
  bottom: 0;
  z-index: 1;
}
.music-list {
  padding-bottom: 160px;
}
.music-box {
  margin: 10px;
  padding: 10px !important;
  border: 1px solid #000000b0;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bottom-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
